body{
    margin: 0px;
    background-image: url(../img/main_background.jpg);
    font: 18px sans-serif;
}

a{
    color: azure;
}
a:visited{
    color: azure;
}
a:active{
    color: azure;
}

.page{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

.form_lable{
    color: azure;
}

.button{
    font: 18px sans-serif;
    color:aliceblue;
    background-color:rgb(32, 33, 36);
    border-radius: 15px;   
}

