.content-wrapper{
    display: grid;
    justify-items: center; 
}

.content{
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    row-gap: 20px;
    padding: 10px 25px 10px 25px;
    border: 2px double black;
    background-color: rgb(93, 45, 93);
    border-radius: 25px;
    justify-items: center;
    /* background-image: url(../img/background_1.jpg); */
}

.content_main-lable{
    font-size: 20px;
    color: azure;
    margin: 10px 5px 0px 5px;
}

.info-table{
    border: 2px double black;
    border-radius: 10px;
    background-color: rgb(151, 79, 143);
    padding: 15px 5px 15px 5px;
    width: 300px;
}